name: CI/CD Pipeline 

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Налаштування .NET 9 (бо у твоєму проекті 9-та версія)
      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Publish
        run: dotnet publish -c Release -o ./publish

      # Зберігаємо готовий сайт для передачі на етап деплою
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: webapp-package
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test  # Чекаємо успішного білда
    
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: webapp-package
          path: ./publish

      # Вхід в Azure використовуючи секрет, який ти щойно створив
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Сам деплой
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'web-dev-yura'  
          package: ./publish